<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>VUE TODOLIST</title>
</head>
<body>

<div id="app">
    <div class="container">
        <div class="logo">
            <img src="img/logo.png" alt="">
        </div>
        <div class="section">
            <form action=""@submit.prevent="addElement()">
                <input type="text" v-model="newElement" placeholder="aggiungi item ">
                <button>invia</button>
            </form>
        </div>
        <div class="sectiontwo">
            <div class="lista">
                <div class="item">
                    <ul >

                        <li  v-for="(element,index) in list">
                            <span :class="(element.done == true)? ('text-bar') : ''" >{{element.text}}</span>
                            <i class="fa-solid fa-x" @click="removeElement(index)"></i>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


    <script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>